Web Site/FSP.Web.4.5/Service References/TowTruckServiceRef/TowTruckService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FPSService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FPSService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://38.124.164.212:9007/TowTruckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://38.124.164.212:9007/TowTruckService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://38.124.164.212:9007/TowTruckService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FPSService.MiscData" />
  <xs:complexType name="ArrayOfTowTruckData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TowTruckData" nillable="true" type="tns:TowTruckData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTowTruckData" nillable="true" type="tns:ArrayOfTowTruckData" />
  <xs:complexType name="TowTruckData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alarms" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heading" type="xs:double" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastMessage" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="OutOfBoundsAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutOfBoundsMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutOfBoundsTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Speed" type="xs:double" />
      <xs:element minOccurs="0" name="SpeedingAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpeedingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingValue" type="xs:double" />
      <xs:element minOccurs="0" name="StatusStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleState" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TowTruckData" nillable="true" type="tns:TowTruckData" />
  <xs:complexType name="CopyTruck">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeatID" type="ser:guid" />
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver" nillable="true" type="tns:CopyDriver" />
      <xs:element minOccurs="0" name="Extended" nillable="true" type="tns:CopyExtended" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:CopyStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CopyTruck" nillable="true" type="tns:CopyTruck" />
  <xs:complexType name="CopyDriver">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedBeat" type="ser:guid" />
      <xs:element minOccurs="0" name="BeatScheduleID" type="ser:guid" />
      <xs:element minOccurs="0" name="BreakStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DriverID" type="ser:guid" />
      <xs:element minOccurs="0" name="FSPID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LunchStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TowTruckCompany" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CopyDriver" nillable="true" type="tns:CopyDriver" />
  <xs:complexType name="CopyExtended">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractorID" type="ser:guid" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAW" type="xs:int" />
      <xs:element minOccurs="0" name="FleetNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FleetVehicleID" type="ser:guid" />
      <xs:element minOccurs="0" name="FuelType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GVW" type="xs:int" />
      <xs:element minOccurs="0" name="GVWR" type="xs:int" />
      <xs:element minOccurs="0" name="InsuranceExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastCHPInspection" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXTW" type="xs:int" />
      <xs:element minOccurs="0" name="MAXTWCALCDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Overhang" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProgramStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RAW" type="xs:int" />
      <xs:element minOccurs="0" name="RAWR" type="xs:int" />
      <xs:element minOccurs="0" name="RegistrationExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleMake" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleYear" type="xs:int" />
      <xs:element minOccurs="0" name="Wheelbase" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CopyExtended" nillable="true" type="tns:CopyExtended" />
  <xs:complexType name="CopyStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="GPSIssueAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="GPSIssueAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSIssueAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GPSIssueAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSIssueAlarmStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncidentAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOffAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogOffAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOffAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogOffAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOffAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOnAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogOnAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOnAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogOnAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOnAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OnPatrolAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnPatrolAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutOfBoundsMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutOfBoundsStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RollInAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RollInAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollOutAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RollOutAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollOutAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RollOutAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollOutAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpeedingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingValue" type="xs:double" />
      <xs:element minOccurs="0" name="StationaryAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="StationaryAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StationaryAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationaryAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StationaryAlarmStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VehicleStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CopyStatus" nillable="true" type="tns:CopyStatus" />
  <xs:complexType name="ArrayOfCopyTruck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CopyTruck" nillable="true" type="tns:CopyTruck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCopyTruck" nillable="true" type="tns:ArrayOfCopyTruck" />
  <xs:complexType name="IncidentIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatSegmentID" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedBy" type="ser:guid" />
      <xs:element minOccurs="0" name="CrossStreet1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrossStreet2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreewayID" type="xs:int" />
      <xs:element minOccurs="0" name="IncidentID" type="ser:guid" />
      <xs:element minOccurs="0" name="IncidentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationID" type="ser:guid" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentIn" nillable="true" type="tns:IncidentIn" />
  <xs:complexType name="ArrayOfIncidentScreenData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncidentScreenData" nillable="true" type="tns:IncidentScreenData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncidentScreenData" nillable="true" type="tns:ArrayOfIncidentScreenData" />
  <xs:complexType name="IncidentScreenData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrossStreet1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrossStreet2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Freeway" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentID" type="ser:guid" />
      <xs:element minOccurs="0" name="IncidentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentScreenData" nillable="true" type="tns:IncidentScreenData" />
  <xs:complexType name="AssistReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssistID" type="ser:guid" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorID" type="ser:guid" />
      <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerWaitTime" type="xs:int" />
      <xs:element minOccurs="0" name="DispatchTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DriverID" type="ser:guid" />
      <xs:element minOccurs="0" name="DropZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndOD" type="xs:int" />
      <xs:element minOccurs="0" name="FleetVehicleID" type="ser:guid" />
      <xs:element minOccurs="0" name="IncidentID" type="ser:guid" />
      <xs:element minOccurs="0" name="IncidentTypeID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsMDC" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTypeID" type="ser:guid" />
      <xs:element minOccurs="0" name="StartOD" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TowLocationID" type="ser:guid" />
      <xs:element minOccurs="0" name="TrafficSpeedID" type="ser:guid" />
      <xs:element minOccurs="0" name="VehiclePositionID" type="ser:guid" />
      <xs:element minOccurs="0" name="VehicleTypeID" type="ser:guid" />
      <xs:element minOccurs="0" name="x1097" type="xs:dateTime" />
      <xs:element minOccurs="0" name="x1098" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssistReq" nillable="true" type="tns:AssistReq" />
  <xs:complexType name="ArrayOfAssistScreenData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssistScreenData" nillable="true" type="tns:AssistScreenData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssistScreenData" nillable="true" type="tns:ArrayOfAssistScreenData" />
  <xs:complexType name="AssistScreenData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssistAcked" type="xs:boolean" />
      <xs:element minOccurs="0" name="AssistComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="AssistID" type="ser:guid" />
      <xs:element minOccurs="0" name="AssistNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerWaitTime" type="xs:int" />
      <xs:element minOccurs="0" name="DispatchNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DropZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndOD" type="xs:double" />
      <xs:element minOccurs="0" name="IncidentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnSiteTime" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectedServices" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="StartOD" type="xs:double" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TowLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrafficSpeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehiclePosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="x0198" type="xs:dateTime" />
      <xs:element minOccurs="0" name="x1097" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssistScreenData" nillable="true" type="tns:AssistScreenData" />
  <xs:complexType name="ArrayOfAssistTruck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssistTruck" nillable="true" type="tns:AssistTruck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssistTruck" nillable="true" type="tns:ArrayOfAssistTruck" />
  <xs:complexType name="AssistTruck">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractorID" type="ser:guid" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckID" type="ser:guid" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssistTruck" nillable="true" type="tns:AssistTruck" />
  <xs:complexType name="ArrayOfListDrivers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListDrivers" nillable="true" type="tns:ListDrivers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListDrivers" nillable="true" type="tns:ArrayOfListDrivers" />
  <xs:complexType name="ListDrivers">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverID" type="ser:guid" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckID" type="ser:guid" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListDrivers" nillable="true" type="tns:ListDrivers" />
  <xs:complexType name="ArrayOfAlarmStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmStatus" nillable="true" type="tns:AlarmStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmStatus" nillable="true" type="tns:ArrayOfAlarmStatus" />
  <xs:complexType name="AlarmStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GPSIssueAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="GPSIssueAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSIssueAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GPSIssueAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSIssueAlarmStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncidentAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOffAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogOffAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOffAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogOffAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOffAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOnAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogOnAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOnAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogOnAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOnAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OnPatrolAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnPatrolAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutOfBoundsCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutOfBoundsStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RollInAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RollInAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollOutAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RollOutAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollOutAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RollOutAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollOutAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpeedingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingValue" type="xs:double" />
      <xs:element minOccurs="0" name="StationaryAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="StationaryAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StationaryAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationaryAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StationaryAlarmStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmStatus" nillable="true" type="tns:AlarmStatus" />
  <xs:complexType name="TruckMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acked" type="xs:boolean" />
      <xs:element minOccurs="0" name="AckedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessageID" type="ser:guid" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TruckIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TruckMessage" nillable="true" type="tns:TruckMessage" />
  <xs:complexType name="ArrayOfIncidentDisplay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncidentDisplay" nillable="true" type="tns:IncidentDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncidentDisplay" nillable="true" type="tns:ArrayOfIncidentDisplay" />
  <xs:complexType name="IncidentDisplay">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssistNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FPSService.MiscData" minOccurs="0" name="Assists" nillable="true" type="q2:Assist" />
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispatchComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispatchNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentID" type="ser:guid" />
      <xs:element minOccurs="0" name="IncidentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAcked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsIncidentComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FPSService.MiscData" minOccurs="0" name="contractor" nillable="true" type="q3:Contractors" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentDisplay" nillable="true" type="tns:IncidentDisplay" />
  <xs:complexType name="ArrayOfBeatSegment_New">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BeatSegment_New" nillable="true" type="tns:BeatSegment_New" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeatSegment_New" nillable="true" type="tns:ArrayOfBeatSegment_New" />
  <xs:complexType name="BeatSegment_New">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeatSegmentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatSegmentExtent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatSegmentID" type="ser:guid" />
      <xs:element minOccurs="0" name="BeatSegmentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHPDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHPDescription2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIMSID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeatSegment_New" nillable="true" type="tns:BeatSegment_New" />
  <xs:complexType name="ArrayOfBeats_New">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Beats_New" nillable="true" type="tns:Beats_New" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeats_New" nillable="true" type="tns:ArrayOfBeats_New" />
  <xs:complexType name="Beats_New">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeatColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatExtent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatID" type="ser:guid" />
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatSegments" nillable="true" type="tns:ArrayOfBeatSegment_Cond" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FreewayID" type="xs:int" />
      <xs:element minOccurs="0" name="IsTemporary" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Beats_New" nillable="true" type="tns:Beats_New" />
  <xs:complexType name="ArrayOfBeatSegment_Cond">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BeatSegment_Cond" nillable="true" type="tns:BeatSegment_Cond" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeatSegment_Cond" nillable="true" type="tns:ArrayOfBeatSegment_Cond" />
  <xs:complexType name="BeatSegment_Cond">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeatSegmentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatSegmentExtent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatSegmentID" type="ser:guid" />
      <xs:element minOccurs="0" name="BeatSegmentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeatSegment_Cond" nillable="true" type="tns:BeatSegment_Cond" />
  <xs:complexType name="ArrayOfYard_New">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Yard_New" nillable="true" type="tns:Yard_New" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYard_New" nillable="true" type="tns:ArrayOfYard_New" />
  <xs:complexType name="Yard_New">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TowTruckCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TowTruckCompanyPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YardDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YardID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Yard_New" nillable="true" type="tns:Yard_New" />
  <xs:complexType name="ArrayOfDropZone_New">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DropZone_New" nillable="true" type="tns:DropZone_New" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDropZone_New" nillable="true" type="tns:ArrayOfDropZone_New" />
  <xs:complexType name="DropZone_New">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DropZoneDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DropZoneID" type="ser:guid" />
      <xs:element minOccurs="0" name="DropZoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Restrictions" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DropZone_New" nillable="true" type="tns:DropZone_New" />
  <xs:complexType name="ArrayOfCallBoxes_New">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CallBoxes_New" nillable="true" type="tns:CallBoxes_New" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCallBoxes_New" nillable="true" type="tns:ArrayOfCallBoxes_New" />
  <xs:complexType name="CallBoxes_New">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallBoxID" type="ser:guid" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreewayID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelephoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallBoxes_New" nillable="true" type="tns:CallBoxes_New" />
  <xs:complexType name="ArrayOfFive11Signs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Five11Signs" nillable="true" type="tns:Five11Signs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFive11Signs" nillable="true" type="tns:ArrayOfFive11Signs" />
  <xs:complexType name="Five11Signs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Five11SignID" type="ser:guid" />
      <xs:element minOccurs="0" name="FreewayID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelephoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Five11Signs" nillable="true" type="tns:Five11Signs" />
</xs:schema>