Web Site/FSP.Web.4.5/Service References/TowTruckServiceRef/TowTruckService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://38.124.164.213:9007/TowTruckService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FPSService" />
  <xs:import schemaLocation="http://38.124.164.213:9007/TowTruckService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://38.124.164.213:9007/TowTruckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="CurrentTrucks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="CurrentTrucksResult" nillable="true" type="q1:ArrayOfTowTruckData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleTruckDump">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="t" nillable="true" type="q2:CopyTruck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleTruckDumpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnexcuseAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_vehicleNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_beatNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_alarm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_driverName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnexcuseAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TruckDump">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="trucks" nillable="true" type="q3:ArrayOfCopyTruck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruckDumpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_vehicleNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_alarm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcuseAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_vehicleNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_beatNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_alarm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_driverName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcuseAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreloadedData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreloadedDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPreloadedDataResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIncident">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="thisIncidentIn" nillable="true" type="q5:IncidentIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIncidentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIncidents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIncidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="GetAllIncidentsResult" nillable="true" type="q6:ArrayOfIncidentScreenData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIncidentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IncidentID" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIncidentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="FindIncidentByIDResult" nillable="true" type="q8:IncidentIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearIncident">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IncidentID" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearIncidentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="thisReq" nillable="true" type="q10:AssistReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssistResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAssistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="GetAllAssistsResult" nillable="true" type="q11:ArrayOfAssistScreenData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssistTrucks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssistTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="GetAssistTrucksResult" nillable="true" type="q12:ArrayOfAssistTruck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsedBreakTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DriverID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsedBreakTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsedBreakTimeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTruckDrivers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTruckDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="GetTruckDriversResult" nillable="true" type="q13:ArrayOfListDrivers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DriverID" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffDriverResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="GetAllAlarmsResult" nillable="true" type="q15:ArrayOfAlarmStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmByTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmByTruckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="AlarmByTruckResult" nillable="true" type="q16:ArrayOfAlarmStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="thisMessage" nillable="true" type="q17:TruckMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIncidentData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIncidentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getIncidentDataResult" nillable="true" type="q18:ArrayOfIncidentDisplay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_vehicleNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_alarm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllSegments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllSegmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="RetreiveAllSegmentsResult" nillable="true" type="q19:ArrayOfBeatSegment_New" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SegmentID" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSegmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="RetrieveSegmentResult" nillable="true" type="q21:BeatSegment_New" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="segment" nillable="true" type="q22:BeatSegment_New" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSegmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSegmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="segment" nillable="true" type="q23:BeatSegment_New" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSegmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSegmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="segmentid" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSegmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSegmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllBeats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveAllBeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="RetreiveAllBeatsResult" nillable="true" type="q25:ArrayOfBeats_New" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="BeatID" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreiveBeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="RetreiveBeatResult" nillable="true" type="q27:Beats_New" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>