Web Site/FSP.Web.4.5/Service References/TowTruckServiceRef/TowTruckService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TowTruckService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50138/TowTruckService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50138/TowTruckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50138/TowTruckService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FPSService" />
      <xsd:import schemaLocation="http://localhost:50138/TowTruckService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:50138/TowTruckService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FPSService.MiscData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITowTruckService_CurrentTrucks_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrentTrucks" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CurrentTrucks_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrentTrucksResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_SingleTruckDump_InputMessage">
    <wsdl:part name="parameters" element="tns:SingleTruckDump" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_SingleTruckDump_OutputMessage">
    <wsdl:part name="parameters" element="tns:SingleTruckDumpResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UnexcuseAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:UnexcuseAlarm" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UnexcuseAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnexcuseAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_TruckDump_InputMessage">
    <wsdl:part name="parameters" element="tns:TruckDump" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_TruckDump_OutputMessage">
    <wsdl:part name="parameters" element="tns:TruckDumpResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_ClearAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearAlarm" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_ClearAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_ExcuseAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcuseAlarm" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_ExcuseAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcuseAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetPreloadedData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreloadedData" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetPreloadedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreloadedDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_AddIncident_InputMessage">
    <wsdl:part name="parameters" element="tns:AddIncident" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_AddIncident_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIncidentResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetAllIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIncidents" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetAllIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_FindIncidentByID_InputMessage">
    <wsdl:part name="parameters" element="tns:FindIncidentByID" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_FindIncidentByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindIncidentByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_ClearIncident_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearIncident" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_ClearIncident_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearIncidentResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_AddAssist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAssist" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_AddAssist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAssistResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetAllAssists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAssists" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetAllAssists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAssistsResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetAssistTrucks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssistTrucks" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetAssistTrucks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssistTrucksResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetUsedBreakTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsedBreakTime" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetUsedBreakTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsedBreakTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetTruckDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTruckDrivers" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetTruckDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTruckDriversResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_LogOffDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOffDriver" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_LogOffDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOffDriverResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetAllAlarms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAlarms" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetAllAlarms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAlarmsResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_AlarmByTruck_InputMessage">
    <wsdl:part name="parameters" element="tns:AlarmByTruck" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_AlarmByTruck_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlarmByTruckResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetIncidentData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIncidentData" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_GetIncidentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIncidentDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_ResetAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetAlarm" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_ResetAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveAllSegments_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllSegments" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveAllSegments_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllSegmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetrieveSegment_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSegment" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetrieveSegment_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSegmentResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateSegment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSegment" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateSegment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSegmentResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateSegment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSegment" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateSegment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSegmentResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteSegment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSegment" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteSegment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSegmentResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveAllBeats_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllBeats" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveAllBeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllBeatsResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveBeat_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveBeat" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveBeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveBeatResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateBeat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBeat" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateBeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBeatResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateBeat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBeat" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateBeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBeatResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateBeat2_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBeat2" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateBeat2_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBeat2Response" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteBeat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBeat" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteBeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBeatResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveAllYards_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllYards" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveAllYards_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllYardsResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveYard_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveYard" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveYard_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveYardResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateYard_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateYard" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateYard_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateYardResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateYard_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateYard" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateYard_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateYardResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteYard_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteYard" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteYard_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteYardResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveAllDZs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllDZs" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveAllDZs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveAllDZsResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveDZ_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveDZ" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveDZ_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveDZResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateDropZone_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDropZone" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateDropZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDropZoneResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateDropZone_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDropZone" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateDropZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDropZoneResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteDropZone_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDropZone" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteDropZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDropZoneResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveCallBoxes_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveCallBoxes" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveCallBoxes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveCallBoxesResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveCallBox_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveCallBox" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveCallBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveCallBoxResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateCallBox_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCallBox" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateCallBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCallBoxResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateCallBox_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCallBox" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateCallBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCallBoxResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteCallBox_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCallBox" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteCallBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCallBoxResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveFive11Signs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveFive11Signs" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveFive11Signs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveFive11SignsResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveFive11Sign_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveFive11Sign" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_RetreiveFive11Sign_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveFive11SignResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateFive11Sign_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFive11Sign" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_CreateFive11Sign_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFive11SignResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateFive11Sign_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFive11Sign" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_UpdateFive11Sign_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFive11SignResponse" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteFive11Sign_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFive11Sign" />
  </wsdl:message>
  <wsdl:message name="ITowTruckService_DeleteFive11Sign_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFive11SignResponse" />
  </wsdl:message>
  <wsdl:portType name="ITowTruckService">
    <wsdl:operation name="CurrentTrucks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/CurrentTrucks" message="tns:ITowTruckService_CurrentTrucks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/CurrentTrucksResponse" message="tns:ITowTruckService_CurrentTrucks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SingleTruckDump">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/SingleTruckDump" message="tns:ITowTruckService_SingleTruckDump_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/SingleTruckDumpResponse" message="tns:ITowTruckService_SingleTruckDump_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnexcuseAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/UnexcuseAlarm" message="tns:ITowTruckService_UnexcuseAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/UnexcuseAlarmResponse" message="tns:ITowTruckService_UnexcuseAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TruckDump">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/TruckDump" message="tns:ITowTruckService_TruckDump_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/TruckDumpResponse" message="tns:ITowTruckService_TruckDump_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/ClearAlarm" message="tns:ITowTruckService_ClearAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/ClearAlarmResponse" message="tns:ITowTruckService_ClearAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcuseAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/ExcuseAlarm" message="tns:ITowTruckService_ExcuseAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/ExcuseAlarmResponse" message="tns:ITowTruckService_ExcuseAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreloadedData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/GetPreloadedData" message="tns:ITowTruckService_GetPreloadedData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/GetPreloadedDataResponse" message="tns:ITowTruckService_GetPreloadedData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddIncident">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/AddIncident" message="tns:ITowTruckService_AddIncident_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/AddIncidentResponse" message="tns:ITowTruckService_AddIncident_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/GetAllIncidents" message="tns:ITowTruckService_GetAllIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/GetAllIncidentsResponse" message="tns:ITowTruckService_GetAllIncidents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindIncidentByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/FindIncidentByID" message="tns:ITowTruckService_FindIncidentByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/FindIncidentByIDResponse" message="tns:ITowTruckService_FindIncidentByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearIncident">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/ClearIncident" message="tns:ITowTruckService_ClearIncident_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/ClearIncidentResponse" message="tns:ITowTruckService_ClearIncident_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAssist">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/AddAssist" message="tns:ITowTruckService_AddAssist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/AddAssistResponse" message="tns:ITowTruckService_AddAssist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAssists">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/GetAllAssists" message="tns:ITowTruckService_GetAllAssists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/GetAllAssistsResponse" message="tns:ITowTruckService_GetAllAssists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssistTrucks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/GetAssistTrucks" message="tns:ITowTruckService_GetAssistTrucks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/GetAssistTrucksResponse" message="tns:ITowTruckService_GetAssistTrucks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsedBreakTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/GetUsedBreakTime" message="tns:ITowTruckService_GetUsedBreakTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/GetUsedBreakTimeResponse" message="tns:ITowTruckService_GetUsedBreakTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTruckDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/GetTruckDrivers" message="tns:ITowTruckService_GetTruckDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/GetTruckDriversResponse" message="tns:ITowTruckService_GetTruckDrivers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOffDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/LogOffDriver" message="tns:ITowTruckService_LogOffDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/LogOffDriverResponse" message="tns:ITowTruckService_LogOffDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAlarms">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/GetAllAlarms" message="tns:ITowTruckService_GetAllAlarms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/GetAllAlarmsResponse" message="tns:ITowTruckService_GetAllAlarms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlarmByTruck">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/AlarmByTruck" message="tns:ITowTruckService_AlarmByTruck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/AlarmByTruckResponse" message="tns:ITowTruckService_AlarmByTruck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/SendMessage" message="tns:ITowTruckService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/SendMessageResponse" message="tns:ITowTruckService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIncidentData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/GetIncidentData" message="tns:ITowTruckService_GetIncidentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/GetIncidentDataResponse" message="tns:ITowTruckService_GetIncidentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/ResetAlarm" message="tns:ITowTruckService_ResetAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/ResetAlarmResponse" message="tns:ITowTruckService_ResetAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllSegments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveAllSegments" message="tns:ITowTruckService_RetreiveAllSegments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveAllSegmentsResponse" message="tns:ITowTruckService_RetreiveAllSegments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSegment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetrieveSegment" message="tns:ITowTruckService_RetrieveSegment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetrieveSegmentResponse" message="tns:ITowTruckService_RetrieveSegment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSegment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/CreateSegment" message="tns:ITowTruckService_CreateSegment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/CreateSegmentResponse" message="tns:ITowTruckService_CreateSegment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSegment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/UpdateSegment" message="tns:ITowTruckService_UpdateSegment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/UpdateSegmentResponse" message="tns:ITowTruckService_UpdateSegment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSegment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/DeleteSegment" message="tns:ITowTruckService_DeleteSegment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/DeleteSegmentResponse" message="tns:ITowTruckService_DeleteSegment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllBeats">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveAllBeats" message="tns:ITowTruckService_RetreiveAllBeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveAllBeatsResponse" message="tns:ITowTruckService_RetreiveAllBeats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveBeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveBeat" message="tns:ITowTruckService_RetreiveBeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveBeatResponse" message="tns:ITowTruckService_RetreiveBeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/CreateBeat" message="tns:ITowTruckService_CreateBeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/CreateBeatResponse" message="tns:ITowTruckService_CreateBeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/UpdateBeat" message="tns:ITowTruckService_UpdateBeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/UpdateBeatResponse" message="tns:ITowTruckService_UpdateBeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBeat2">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/UpdateBeat2" message="tns:ITowTruckService_UpdateBeat2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/UpdateBeat2Response" message="tns:ITowTruckService_UpdateBeat2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/DeleteBeat" message="tns:ITowTruckService_DeleteBeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/DeleteBeatResponse" message="tns:ITowTruckService_DeleteBeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllYards">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveAllYards" message="tns:ITowTruckService_RetreiveAllYards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveAllYardsResponse" message="tns:ITowTruckService_RetreiveAllYards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveYard">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveYard" message="tns:ITowTruckService_RetreiveYard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveYardResponse" message="tns:ITowTruckService_RetreiveYard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateYard">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/CreateYard" message="tns:ITowTruckService_CreateYard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/CreateYardResponse" message="tns:ITowTruckService_CreateYard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateYard">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/UpdateYard" message="tns:ITowTruckService_UpdateYard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/UpdateYardResponse" message="tns:ITowTruckService_UpdateYard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteYard">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/DeleteYard" message="tns:ITowTruckService_DeleteYard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/DeleteYardResponse" message="tns:ITowTruckService_DeleteYard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllDZs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveAllDZs" message="tns:ITowTruckService_RetreiveAllDZs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveAllDZsResponse" message="tns:ITowTruckService_RetreiveAllDZs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveDZ">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveDZ" message="tns:ITowTruckService_RetreiveDZ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveDZResponse" message="tns:ITowTruckService_RetreiveDZ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDropZone">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/CreateDropZone" message="tns:ITowTruckService_CreateDropZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/CreateDropZoneResponse" message="tns:ITowTruckService_CreateDropZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDropZone">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/UpdateDropZone" message="tns:ITowTruckService_UpdateDropZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/UpdateDropZoneResponse" message="tns:ITowTruckService_UpdateDropZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDropZone">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/DeleteDropZone" message="tns:ITowTruckService_DeleteDropZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/DeleteDropZoneResponse" message="tns:ITowTruckService_DeleteDropZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveCallBoxes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveCallBoxes" message="tns:ITowTruckService_RetreiveCallBoxes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveCallBoxesResponse" message="tns:ITowTruckService_RetreiveCallBoxes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveCallBox">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveCallBox" message="tns:ITowTruckService_RetreiveCallBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveCallBoxResponse" message="tns:ITowTruckService_RetreiveCallBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCallBox">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/CreateCallBox" message="tns:ITowTruckService_CreateCallBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/CreateCallBoxResponse" message="tns:ITowTruckService_CreateCallBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCallBox">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/UpdateCallBox" message="tns:ITowTruckService_UpdateCallBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/UpdateCallBoxResponse" message="tns:ITowTruckService_UpdateCallBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCallBox">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/DeleteCallBox" message="tns:ITowTruckService_DeleteCallBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/DeleteCallBoxResponse" message="tns:ITowTruckService_DeleteCallBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveFive11Signs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveFive11Signs" message="tns:ITowTruckService_RetreiveFive11Signs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveFive11SignsResponse" message="tns:ITowTruckService_RetreiveFive11Signs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveFive11Sign">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveFive11Sign" message="tns:ITowTruckService_RetreiveFive11Sign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/RetreiveFive11SignResponse" message="tns:ITowTruckService_RetreiveFive11Sign_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFive11Sign">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/CreateFive11Sign" message="tns:ITowTruckService_CreateFive11Sign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/CreateFive11SignResponse" message="tns:ITowTruckService_CreateFive11Sign_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFive11Sign">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/UpdateFive11Sign" message="tns:ITowTruckService_UpdateFive11Sign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/UpdateFive11SignResponse" message="tns:ITowTruckService_UpdateFive11Sign_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFive11Sign">
      <wsdl:input wsaw:Action="http://tempuri.org/ITowTruckService/DeleteFive11Sign" message="tns:ITowTruckService_DeleteFive11Sign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITowTruckService/DeleteFive11SignResponse" message="tns:ITowTruckService_DeleteFive11Sign_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITowTruckService" type="tns:ITowTruckService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CurrentTrucks">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/CurrentTrucks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SingleTruckDump">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/SingleTruckDump" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnexcuseAlarm">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/UnexcuseAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TruckDump">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/TruckDump" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearAlarm">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/ClearAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuseAlarm">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/ExcuseAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreloadedData">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/GetPreloadedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIncident">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/AddIncident" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIncidents">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/GetAllIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindIncidentByID">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/FindIncidentByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearIncident">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/ClearIncident" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssist">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/AddAssist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAssists">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/GetAllAssists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssistTrucks">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/GetAssistTrucks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsedBreakTime">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/GetUsedBreakTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTruckDrivers">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/GetTruckDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOffDriver">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/LogOffDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAlarms">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/GetAllAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlarmByTruck">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/AlarmByTruck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncidentData">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/GetIncidentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetAlarm">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/ResetAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllSegments">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetreiveAllSegments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSegment">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetrieveSegment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSegment">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/CreateSegment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSegment">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/UpdateSegment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSegment">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/DeleteSegment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllBeats">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetreiveAllBeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveBeat">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetreiveBeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBeat">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/CreateBeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBeat">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/UpdateBeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBeat2">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/UpdateBeat2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBeat">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/DeleteBeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllYards">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetreiveAllYards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveYard">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetreiveYard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateYard">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/CreateYard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateYard">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/UpdateYard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteYard">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/DeleteYard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveAllDZs">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetreiveAllDZs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveDZ">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetreiveDZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDropZone">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/CreateDropZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDropZone">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/UpdateDropZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDropZone">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/DeleteDropZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveCallBoxes">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetreiveCallBoxes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveCallBox">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetreiveCallBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCallBox">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/CreateCallBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCallBox">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/UpdateCallBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCallBox">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/DeleteCallBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveFive11Signs">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetreiveFive11Signs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveFive11Sign">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/RetreiveFive11Sign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFive11Sign">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/CreateFive11Sign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFive11Sign">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/UpdateFive11Sign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFive11Sign">
      <soap:operation soapAction="http://tempuri.org/ITowTruckService/DeleteFive11Sign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TowTruckService">
    <wsdl:port name="BasicHttpBinding_ITowTruckService" binding="tns:BasicHttpBinding_ITowTruckService">
      <soap:address location="http://localhost:50138/TowTruckService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>