Web Site/FSP.Web.4.5/Service References/TowTruckServiceRef/TowTruckService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FPSService.TowTruck" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FPSService.TowTruck" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://38.124.164.213:9007/TowTruckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TowTruckDriver">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedBeat" type="ser:guid" />
      <xs:element minOccurs="0" name="BeatScheduleID" type="ser:guid" />
      <xs:element minOccurs="0" name="BreakStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DriverID" type="ser:guid" />
      <xs:element minOccurs="0" name="FSPID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LunchStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TowTruckCompany" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TowTruckDriver" nillable="true" type="tns:TowTruckDriver" />
</xs:schema>