OctaHarness/OctaHarness/Service References/ServiceReference1/TowTruckService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FPSService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FPSService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:52701/TowTruckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://127.0.0.1:52701/TowTruckService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTowTruckData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TowTruckData" nillable="true" type="tns:TowTruckData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTowTruckData" nillable="true" type="tns:ArrayOfTowTruckData" />
  <xs:complexType name="TowTruckData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alarms" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heading" type="xs:double" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastMessage" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="OutOfBoundsAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutOfBoundsMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutOfBoundsTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Speed" type="xs:double" />
      <xs:element minOccurs="0" name="SpeedingAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpeedingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingValue" type="xs:double" />
      <xs:element minOccurs="0" name="StatusStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleState" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TowTruckData" nillable="true" type="tns:TowTruckData" />
  <xs:complexType name="IncidentIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatSegmentID" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedBy" type="ser:guid" />
      <xs:element minOccurs="0" name="CrossStreet1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrossStreet2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreewayID" type="xs:int" />
      <xs:element minOccurs="0" name="IncidentID" type="ser:guid" />
      <xs:element minOccurs="0" name="IncidentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationID" type="ser:guid" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentIn" nillable="true" type="tns:IncidentIn" />
  <xs:complexType name="ArrayOfIncidentScreenData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncidentScreenData" nillable="true" type="tns:IncidentScreenData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncidentScreenData" nillable="true" type="tns:ArrayOfIncidentScreenData" />
  <xs:complexType name="IncidentScreenData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrossStreet1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrossStreet2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Freeway" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentID" type="ser:guid" />
      <xs:element minOccurs="0" name="IncidentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentScreenData" nillable="true" type="tns:IncidentScreenData" />
  <xs:complexType name="AssistReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssistID" type="ser:guid" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorID" type="ser:guid" />
      <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerWaitTime" type="xs:int" />
      <xs:element minOccurs="0" name="DispatchTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DriverID" type="ser:guid" />
      <xs:element minOccurs="0" name="DropZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndOD" type="xs:int" />
      <xs:element minOccurs="0" name="FleetVehicleID" type="ser:guid" />
      <xs:element minOccurs="0" name="IncidentID" type="ser:guid" />
      <xs:element minOccurs="0" name="IncidentTypeID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsMDC" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTypeID" type="ser:guid" />
      <xs:element minOccurs="0" name="StartOD" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TowLocationID" type="ser:guid" />
      <xs:element minOccurs="0" name="TrafficSpeedID" type="ser:guid" />
      <xs:element minOccurs="0" name="VehiclePositionID" type="ser:guid" />
      <xs:element minOccurs="0" name="VehicleTypeID" type="ser:guid" />
      <xs:element minOccurs="0" name="x1097" type="xs:dateTime" />
      <xs:element minOccurs="0" name="x1098" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssistReq" nillable="true" type="tns:AssistReq" />
  <xs:complexType name="ArrayOfAssistScreenData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssistScreenData" nillable="true" type="tns:AssistScreenData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssistScreenData" nillable="true" type="tns:ArrayOfAssistScreenData" />
  <xs:complexType name="AssistScreenData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssistComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="AssistID" type="ser:guid" />
      <xs:element minOccurs="0" name="AssistNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerWaitTime" type="xs:int" />
      <xs:element minOccurs="0" name="DispatchNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DropZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndOD" type="xs:double" />
      <xs:element minOccurs="0" name="IncidentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnSiteTime" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectedServices" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="StartOD" type="xs:double" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TowLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrafficSpeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehiclePosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="x0198" type="xs:dateTime" />
      <xs:element minOccurs="0" name="x1097" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssistScreenData" nillable="true" type="tns:AssistScreenData" />
  <xs:complexType name="ArrayOfAssistTruck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssistTruck" nillable="true" type="tns:AssistTruck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssistTruck" nillable="true" type="tns:ArrayOfAssistTruck" />
  <xs:complexType name="AssistTruck">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractorID" type="ser:guid" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckID" type="ser:guid" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssistTruck" nillable="true" type="tns:AssistTruck" />
  <xs:complexType name="ArrayOfListDrivers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListDrivers" nillable="true" type="tns:ListDrivers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListDrivers" nillable="true" type="tns:ArrayOfListDrivers" />
  <xs:complexType name="ListDrivers">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverID" type="ser:guid" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckID" type="ser:guid" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListDrivers" nillable="true" type="tns:ListDrivers" />
  <xs:complexType name="ArrayOfAlarmStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmStatus" nillable="true" type="tns:AlarmStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmStatus" nillable="true" type="tns:ArrayOfAlarmStatus" />
  <xs:complexType name="AlarmStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncidentAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOffAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogOffAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOnAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogOnAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NoMotionAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoMotionStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OnPatrolAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutOfBoundsMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutOfBoundsStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RollInAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollOutAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RollOutAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpeedingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingValue" type="xs:double" />
      <xs:element minOccurs="0" name="StatusStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmStatus" nillable="true" type="tns:AlarmStatus" />
  <xs:complexType name="TruckMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acked" type="xs:boolean" />
      <xs:element minOccurs="0" name="AckedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessageID" type="ser:guid" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TruckIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TruckMessage" nillable="true" type="tns:TruckMessage" />
</xs:schema>