OctaHarness/OctaHarness/Service References/ServiceReference1/TowTruckService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://amyanderic.no-ip.org:801/TowTruckService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FPSService" />
  <xs:import schemaLocation="http://amyanderic.no-ip.org:801/TowTruckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentTrucks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="CurrentTrucksResult" nillable="true" type="q1:ArrayOfTowTruckData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTruckAssistRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTruckAssistRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTruckAssistRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AssistRequestID" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTruckAssistRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>